* {
	box-sizing: border-box;
}
body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main {
	width: 40vh;
	height: 50vh;
	background-color: rgb(255, 255, 255);
	margin: 200px auto;
	padding-left: 90px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
main span {
	font-size: 30px;
	font-weight: 400;
}

.slider {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 80px;
}
